body{
    background-image: url(./images/sun-tornado.svg);
    background-size: cover;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d3d3d;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

footer{
    background-color: #3d3d3d;
    position: relative;
    bottom: 0;
}
div.container{
    display: grid;
    gap: 10px 10px;
    width: fit-content;
    grid-template-columns: [first] 1fr [line2];
    grid-template-rows: [one] 1fr [two];
    justify-items: stretch;
    align-items: stretch;
    position: relative;
padding-top: 30px;
    left: 5%;
}
.item-1{
    display: flex;
    justify-content: space-between;
    grid-column: first;
    grid-row: one;
    height: 500px; width: 550px;
}
.item-2{
        grid-column: line2;
        grid-row: two;
        height: 500px; width: 550px;
}
.item-3{

        grid-column: first;
        grid-row: two;
        height: 500px; width: 550px;
}
.item-4{
        grid-column: line2;
        grid-row: one;        
        height: 500px; width: 550px;
}