@font-face {
    font-family: Fortune;
    src: url(Fortune.otf);
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(./images/dragon-scales.svg);
    background-size: auto;
}

.content{
    flex: 1 0 auto;
    position: relative;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8a2be2;
    margin-bottom: 50px;
    font-family: Fortune;
    font-size: 20px;
}

li{
    float: left;
    top: auto;
    left: auto;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #8a2be2;
    flex-shrink: 0;
    font-weight: bold;
    font-family: Fortune;
    color: white;

}

footer a{
    color: white;
}

.small-logo{
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
}

#search{
    display: block;
    margin-left: 675px;
}

#logo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

div.container{
    display: grid;
    gap: 10px 10px;
    width: fit-content;
    grid-template-columns: [first] 1fr [line2];
    grid-template-rows: [one] 1fr [two];
    justify-items: stretch;
    align-items: stretch;
    position: relative;
    left: 15%;
    padding-top: 20px;

}
.item-1{
    display: flex;
    justify-content: space-between;
    grid-column: first;
    grid-row: one;
    height: 500px; width: 550px;
}
.item-2{
        grid-column: line2;
        grid-row: two;
        height: 500px; width: 550px;
}
.item-3{

        grid-column: first;
        grid-row: two;
        height: 500px; width: 550px;
}
.item-4{
        grid-column: line2;
        grid-row: one;        
        height: 500px; width: 550px;
}
fieldset.main{
    background-image: url(images/quantum-gradient.svg);
    background-size: cover;
    color: #3d3d3d;
    width: 50%;
    position: absolute;
    left: 20%;
    top: 7%;
    font-size: xx-large;
}
video{
    position: relative;
    top: 0;
    left: 34%;
}